/* table {
    border-spacing: 2px;
}

table thead td {
    background-color: tomato;
    text-align: center;
}

table td {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
} */

body {
    margin: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}