:root {
    ---main-color: blue;
}

.one {
    background-color: var(---main-color);
    color: white;
    padding: 20px;
    margin: 5px;
}

.two {
    background-color: #eee;
    color: var(---main-color);
    border: 2px solid red;
    margin: 5px;
}

.three {
    background-color: white;
    color: var(---main-color);
    border: 2px solid red;
    margin: 5px;
}

a {
    color: var(---main-color);
}