* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: auto;
    padding: auto;
}

.amer-parent {
    height: 100vh;
    display: grid;
    background-color: #eee;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25px auto auto;
    grid-template-areas: "logo logo nav nav nav nav nav nav nav nav" "side side cont cont cont cont cont cont cont cont" "foot foot foot foot foot foot foot foot foot foot";
}

h2 {
    grid-area: logo;
    background-color: coral;
}

section {
    grid-area: cont;
    background-color: darkred;
}

aside {
    grid-area: side;
    background-color: blue;
}

nav {
    grid-area: nav;
    background-color: yellow;
}

footer {
    grid-area: foot;
    background-color: black;
}